<div class="p-5">
    <h4>Parametrez votre rendez-vous !</h4>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="Inputname" name="name" [(ngModel)]="rdv_info.nom"/>
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">Prénom:</label>
            <input type="text" class="form-control" id="Inputfirstname" name="firstname" [(ngModel)]="rdv_info.prenom"/>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date du rendez-vous:</label>
            <input type="date" pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))" class="form-control" id="date" name="date" [(ngModel)]="rdv_info.date" />
        </div>
        <div>
            <label for="hour" class="form-label">Heure de passage :</label>
            <input type="time" id="hour" min="09:00" max="17:00" name="hour" [(ngModel)]="rdv_info.heure">
        </div>
        <div>
            <label for="descriptif" class="form-label">Descrivez-vos symptômes</label>
            <input type="text" id="descriptif" class="form-control" name="descriptif" [(ngModel)]="rdv_info.descriptif">
        </div>
        <button class="btn btn-primary col-4" (click)='submit_rdv()' style="margin-top: 2em;">Soumettre</button>
    </form>
</div>
