<!--jusqua nest hub max,  apres il faut gerer le responsiv-->
<div>
    <div class="d-grid gap-5 p-5" style="height: 40em; background-size: cover; background-position-y: 60%; background-image: url('{{getSlide().image_source}}'); color: white;">
        <h3>Les pathologies que nous suivons :</h3>
        <div class="col-6 offset-6">
            <div class="d-grid gap-3">
                <h4> {{getSlide().nom}}</h4>
                <p> {{getSlide().descriptif}}</p>  
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button (click)='getPrev()' style="border: none; background-color: transparent;">
                &lt; <!--cest le < -->
            </button>
            <button (click)='getNext()' style="border: none; background-color: transparent;">
                &gt; <!--cest le > -->
            </button>
        </div>
      
    </div>

    <!--methode-->
    <div class="p-5 d-grid gap-4">
        <h3>Les Méthodes que nous employons :</h3>
        <div class="d-flex flex-wrap justify-content-around">
            <div *ngFor="let methode of methodes" class="d-flex flex-row border rounded col-5" style="margin-bottom: 2em;">
                <div class="col-11 d-grid gap-3 p-3">
                    <h5>{{methode.nom}} :</h5>
                    <p class="offset-1">{{methode.descriptif}}</p>
                    <p class="offset-1">{{methode.utilisation}}</p>
                </div>
            </div>
        </div>
    </div>

</div>


  


