<div class="p-5 vh-300">
    <div class="col-md-12 d-grid gap-4">
      <h1>Nous contacter :</h1>
      <h3>A Titre d'Information</h3>
      <h6>Notre cabinet d'ostéopathie est fier de compter plusieurs membres dans son équipe, chacun spécialisé dans un domaine spécifique. Nos osthéopathes ont des années d'expériences et ont suivi des formations approfondies pour être à la pointe de leur spécialité.
        <br>Nous tenons à souligner que chaque ostéopathes de notre cabinet à sa propre manière de prendre les rendez-vous avec ses clients. Nous vous encourageons donc à choisir le practicien qui vous convient le mieux à vos besoins et préférences. Nous croyons que la relation entre l'ostéopathe et le patient est essentielle pour atteindre les meilleurs résultats possibles.
      </h6>
    </div>
    <div style="margin-top: 3em;">
        <div class="col-md-25">
            <h3>Prendre rendez-vous</h3>
        </div>
        <div class="d-grid gap-3" style="margin: 0%;">
          <div class="row g-0 col-12" *ngFor="let membre of membres">
            <div class="col-md-3" style="background-color: red;">
              <img src={{membre.image_source}} alt="Photo de {{membre.nom}}" style="width:100%; height:auto; object-fit: contain;">
            </div>
            <div class="col-8 offset-1">
              <div style="height: 70%;">
                <div class="d-grid gap-3 p-3">
                  <h4>{{membre.nom}}</h4>
                  <p>{{membre.tel}}</p>
                  <p>{{membre.mail}}</p>
                </div>
              </div>
              <container-element [ngSwitch]=membre.lien style="height: 30%;">
                <button *ngSwitchCase="'GoogleCalendar'" type="button" class="btn btn-primary btn-lg m-3" target="_blank" (click)="goToCalendar()">PRENDRE RDV</button>
                <div *ngSwitchCase="''">Merci de prendre contact avec les informations si dessus</div>
                <a *ngSwitchDefault class="btn btn-primary btn-lg m-3" target="_blank" href={{membre.lien}}>PRENDRE RDV</a>
              </container-element>
            </div>
          </div>
        </div>
    </div>
</div>
  
<form>
  <div class="p-5">
    <h3 style="margin-bottom: 2em;">Posez nous toutes vos questions !</h3>
    <div class="mb-3">
      <label for="name" class="form-label">Nom:</label>
      <input type="text" class="form-control" id="Inputname" name="name" [(ngModel)]="newQuestion.nom" />
    </div>
    <div class="mb-3">
      <label for="firstname" class="form-label">Prénom:</label>
      <input type="text" class="form-control" id="Inputfirstname" name="firstname" [(ngModel)]="newQuestion.prenom" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Adresse E-mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="contact" [(ngModel)]="newQuestion.contact" />
      <div id="emailHelp" class="form-text">Vos mails resteront confidentiels</div>
    </div>
    <div class="mb-3">
      <label for="question" class="form-label">question:</label>
      <textarea type="text" class="form-control" id="question" name="question" [(ngModel)]="newQuestion.question"></textarea>
    </div>
    <button class="btn btn-primary col-4" (click)='submit_question()'>Soumettre</button>
  </div>
</form>

  